* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

main {
    text-align: center;
    padding: 1em;
    max-width: 240px;
    margin: 0 auto;
}

#fork-on-github {
    position: absolute;
    top: 0;
    right: 0;
}

h1 {
    text-align: center;
    font-size: 2.5em;
    font-weight: 100;
}

.share-button-example {
    display: inline-block;
}

#pure-facebook-with-label .ssbc-button {
    border-radius: 5px;
}

#svelte-example-round .ssbc-button {
    border-radius: 15%;
}

#svelte-example-circle .ssbc-button {
    border-radius: 50%;
}

@media (min-width: 640px) {
    main {
        max-width: none;
    }
}