name: new-version
permissions:
  contents: write
on:
    branches:
      - master
    paths:
      - 'package.json'
jobs:
  tag-version:
    permissions:
      contents: write
    name: tag-version
    runs-on: ubuntu-latest
    outputs:
      tagcreated: ${{ steps.apply-tag.outputs.tagcreated }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@master
    - name: Set up Node.js
      uses: actions/setup-node@master
      with:
        node-version: current
    - name: Get the current version
      uses: pchynoweth/action-get-npm-version@master
      id: package-version
    - name: Apply tag
      id: apply-tag
      uses: pchynoweth/action-apply-tag@master
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        tag: v${{ steps.package-version.outputs.version }}
  npm-publish:
    name: npm-publish
    needs: tag-version
    runs-on: ubuntu-latest
    if: ${{ needs.tag-version.outputs.tagcreated == 'yes' }}
    steps:
    - name: Checkout repository
      uses: actions/checkout@master
    - name: Set up Node.js
      uses: actions/setup-node@master
      with:
        node-version: current
    - name: Upgrade npm to latest version
      run: npm install -g npm
    - name: Install npm deps
      run: npm install
    - name: Publish to npm
      run: |
        npm config set //registry.npmjs.org/:_authToken=${NPM_TOKEN} 
        npm publish
      env:
        NPM_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
